<!DOCTYPE html>
<html>

<head>
    <title>Żarełko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
 
    <div class="container">
        <div id="orders">
            <h1>ZAMÓWIENIA</h1>
            <ul class="entries">
            {% for person, food in orders %}
                <li>{{ person }} : {{ food }}</li>
            {% endfor %}
        </div>
        <div id="add_order">
            <h3>Dodawanie zamówienia</h3>
            <form id="add_order" method="POST">
                <div>
                    {{ form.person.label }}: {{ form.person() }}
                    {% for message in form.person.errors %}
                        {{ message }}
                    {% endfor %}
                </div>
                <div>
                    {{ form.food.label }}: {{ form.food() }}
                    {% for message in form.food.errors %}
                        {{ message }}
                    {% endfor %}
                </div>
                    <input type="submit" id="submit" value="Dodaj">
            </form>
        </div>
    </div>
</body>
 
</html>
